<div class="left-side-nav">
	<h2>Welcome Admin</h2> <br />
	<a href="/admin_dashboard" class="devise-links">Back to Dashboard</a>
	<%= link_to "Update Current Admin Info", edit_admin_registration_path, method: :get, class: "devise-links" %>
	<%= link_to "Create New Administrator", new_admin_registration_path, class: "devise-links" %>
	<%= link_to "Sign Out", destroy_admin_session_path, method: :delete, class: "devise-links" %>
</div>
<div class="admin-blogs">
	<a class="add-blog-btn" href="/admin_new_blog">Add New Blog</a>
	<div class="admin-blogs-list">
		<h2>Blogs</h2>
		<ul>
			<% @blogs.reverse.each do |blog| %>
				<a href="/admin_blogs/<%= blog.id %>"><li>
					<h6><%= blog.created_at.strftime("%B %-d, %Y") %></h6>	
					<h3><%= blog.title %></h3>
				</li></a>
			<% end %>
		</ul>
	</div>
</div>