<div class="left-side-nav">
	<h2>Welcome Admin</h2> <br />
	<a href="/admin_dashboard" class="devise-links">Back to Dashboard</a>
	<%= link_to "Update Current Admin Info", edit_admin_registration_path, method: :get, class: "devise-links" %>
	<%= link_to "Create New Administrator", new_admin_registration_path, class: "devise-links" %>
	<%= link_to "Sign Out", destroy_admin_session_path, method: :delete, class: "devise-links" %>
</div>
<div class="new-blog">
	<h1>New Blog</h1>
	<%= form_for @blog, url: {action: "admin_create_blog"}, html: { multipart: true } do |f| %>
		<div class="new-blog-title">
		<%= label_tag(:title, "Title")%>
		<%= f.text_field :title %>
		</div>
		<div class="new-blog-photo">
		<%= label_tag(:photo, "Blog Photo")%>
		<%= f.file_field :photo %>
		</div>
		<div class="new-blog-content">
		<%= label_tag(:content)%>
		<%= f.text_area :content, placeholder: "Let the journey begin" %>
		</div>
		<%= f.submit "Post Blog", class: 'blog-btn' %>
	<% end %>
</div>