<div class="lessons-wrapper">
	<div class="title">
		<p>C</p>
		<p>L</p>
		<p>A</p>
		<p>S</p>
		<p>S</p>
	</div>
	<div class="lesson-head-container">
		<div class="content-head-box">
			<p>Fight Like a Knight classes offer a unique way to workout while satisfying the need for Chivalry, Honor, and Courtly Graces so absent from our traditional world.</p>
		</div>
	</div>
	<% @lessons.each do |lesson| %>
		<div class="lesson-container" style="background-image:url(/assets/<%= lesson.photo %>)">
			<div class="content-box">
				<h3><%= lesson.title  %></h3>
				<p><%= lesson.subtitle %></p>
				<p><%= lesson.description %></p>
				<p><span><%= lesson.extra_title %></span></p>
				<p><%= simple_format(lesson.extra_description) %></p>
			</div>
		</div>
	<% end %>
</div>