<!DOCTYPE html>
<html>
<head>
  <title>FLAK</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body class="container-fluid">
<% unless controller_name == 'intro' %>
	<header class="top-nav row">
		<% if admin_signed_in? %>
			<div class="admin-active">ADMIN</div>
		<% end %>

		<ul class="">
			<li class=""><a href="/home">Home</a></li>
			<li class=""><a href="/blogs">Blog</a></li>
			<li class=""><a href="/classes">Class</a></li>
			<li class=""><a href="/about">About</a></li>
			<li class=""><a href="/contact">Contact</a></li>
		</ul>
	</header>
	<% end %>
	<% if flash[:errors] %>
		<% flash[:errors].each do |error| %>
    		<p><%= error %></p>
  		<% end %>
	<% end %>


<div class="body-content">
<%= yield %>
</div>

<% unless controller_name == 'intro' %>
	<footer>
		<section class="left-side-footer">
			<div class="social-media-icons">
				<a href="">F</a>
				<a href="">I</a>
				<a href="">Q</a>
				<a href="">S</a>
			</div>
			<form action="/create_email" method="post">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<input type="email" name="email" placeholder="Email">
				<input type="submit" value="Subscribe" class="email-submit-btn">
			</form>
		</section>
		<section class="right-side-footer">
			<ul class="right-side-main-ul">
				<li class="right-side-headings"><a href="/">Home</a></li>
				<li class="right-side-headings"><a href="/blogs">Blog</a>
					<ul class="footer-small-links">
						<li><a href="/most_recent">Most&nbspRecent</a></li>
					</ul>
				</li>
				<li class="right-side-headings"><a href="">Press</a>
					<ul class="footer-small-links">
						<li><a href="/testimonials">Testimonials</a></li>
						<li><a href="">Happenings</a></li>
						<li><a href="">Gallery</a></li>
					</ul>
				</li>
				<li class="right-side-headings"><a href="">Legal</a>
					<ul class="footer-small-links">
						<li><a href="">Licenses</a></li>
						<li><a href="">Agreements</a></li>
					</ul>
				</li>
				<li class="right-side-headings contact"><a href="/contact">Contact</a>
					<ul class="footer-small-links">
						<li>( 818 ) 303-5895</li>
						<li class="flak-email">
							<a>Swordmaster<span class="at-symbol">@</span>
							<br />
							FightLikeAKnight.com</a>
						</li>
					</ul>
				</li>
			</ul>
		</section>
	</footer>
	<% end %>	
</body>
</html>
